.main {
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
    background: url('../../../assets/bobcatSnow.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    margin-top: 155px;
    padding-top: 100px;
}

.overlay {
    background: rgb(0, 0, 0, 0.792);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw;
    border: solid 3px black;
    border-radius: 20px;
    color: white
}

h1 {
    text-align: center;
    text-shadow: 2px 2px black;
    padding-bottom: 3vw;
    font-size: 44px;
    font-weight: bold
}

p {
    width: 80%;
    margin: auto;
    font-size: 24px;
    text-shadow: 2px 1px black
}

a {
    color: #e93100;
}






/* Ipad Pro COMPLETE */
@media screen and (max-width: 1024px) {
    .main {
        width: 100vw;
        padding-top: 30vh;
        height: 85.7vh
    }
}



/* Ipad COMPLETE */
@media screen and (max-width: 769px) {
  .main {
      height: 81.9vh;
      padding-top: 20vh
  }
}



/* Iphone 6/7/8 Plus COMPLETE */
@media screen and (max-width: 415px) {
    .main {
        margin-top: 110px;
        padding-top:8vh;
        height: 80.4vh
    }

    p {
        font-size: 21px;
        text-align: center;
        margin: 1vh auto
    }

    h1 {
        font-size: 40px;
        margin: 1vh 0
    }
}



/* Pixel 2 & Pixel 2 XL & iPhone 6/7/8 & iPhone X COMPLETE */
@media screen and (max-width: 412px) {
    .main {
        margin-top: 110px;
        padding-top:8vh;
        height: 81.5vh
    }

    p {
        font-size: 19px;
        text-align: center;
        margin: 1vh auto
    }

    h1 {
        font-size: 36px;
        margin: 1vh 0
    }
}



/* Iphone 5/SE & Galaxy S5 */
@media screen and (max-width: 375px) {
    .main {
        margin-top: 110px;
        padding-top:8vh;
        height: 77.8vh
    }

    p {
        font-size: 18px;
        text-align: center;
        margin: 1vh auto
    }

    h1 {
        font-size: 36px;
        margin: 1vh 0
    }
}