.main {
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
    background: url('../../../assets/bobcatSnow.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    margin-top: 155px;
    padding-top: 100px;
}

.overlay {
    background: rgb(0, 0, 0, 0.792);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw;
    border: solid 3px black;
    border-radius: 20px;
    color: white
}

h1 {
    text-align: center;
    text-shadow: 2px 2px black;
    padding-bottom: 3vw;
    font-size: 44px;
    font-weight: bold
}

p {
    width: 80%;
    margin: auto;
    font-size: 24px;
    text-shadow: 2px 1px black
}

a {
    color: #e93100;
}