.main {
    background: rgba(0, 0, 0, 0.642);
    display: flex;
    flex-direction: column;
    padding: 195px 1vw 5vh 1vw;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh
}

.top {
    margin: 0vh 0 5vh 2vh;
    display: flex
}

.info {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    text-align: center;
    margin-left: 1vw
}

h4, p {
    text-align: right;
    margin-right: 3vw
}

hr {
    border-color: white;
    border-style: inset;
    width: 90%;
    margin-left: auto;
    margin-right: auto
}

h2 {
    margin: 0 2vw;
    color: #e93100;
    text-shadow: 1px 1px gray;
    font-size: 31px
}

h4 {
    color: #e93100;
    text-shadow: 1px 1px gray;
    margin-top: 2vh
}

.add2 {
    margin-top: 0
}

.add1 {
    margin-bottom:0
}

#name, #email, #message {
    background: transparent;
    border-radius: 10px;
    color: white;
    transition: transform .4s;
    border: solid 2px gray;
    
}

#name:hover, #email:hover, #message:hover {
    border: solid 2px #e93100;
    transform: scale(1.01)
}

label {
    color: gray;
    font-size: 14px
}

button {
    background: #e93100;
    color: white;
    margin-top: 2vh
}

.form {
    background: rgba(0, 0, 0, 0.742);
    padding: 2vh 5vh;
    border: solid 3px #e93100;
    border-radius: 20px;
    width: 170%
}

h1 {
    text-align: center;
    color: #e93100;
    padding: 2vh 0 4vh 0;
    text-shadow: 1.5px 1.5px gray
}

::placeholder {
    color: lightgray
}

iframe {
    margin: auto
}