<div class='main'>
  <div class='map'>
    <iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3065.507595081599!2d-86.13868658436093!3d39.79560450110302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886b51004fa37ebf%3A0x5f352835c6d82a8!2s2065+Columbia+Ave%2C+Indianapolis%2C+IN+46202!5e0!3m2!1sen!2sus!4v1543522253773' width="550" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    <form action="https://formspree.io/selcorp@att.net" method="POST">
      <div class="control-group">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name*" id="name" required
            data-validation-required-message="Please enter your name" name="name">
          <p class="help-block text-danger"></p>
        </div>
      </div>
      <div class="control-group">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email*" id="email" required
            data-validation-required-message="Please enter your email" name="_replyto">
          <p class="help-block text-danger"></p>
        </div>
      </div>
      <div class="control-group">
        <div class="form-group">
          <textarea class="form-control" rows="5" placeholder="Message*" id="message" required
            data-validation-required-message="Please leave a message" name="message"></textarea>
          <p class="help-block text-danger"></p>
          <label>*Required</label>
        </div>
      </div>
      <div class="text-center">
        <div id="success"></div>
        <button type="submit" class="btn btn-md">
          <i class="fa fa-paper-plane-o" aria-hidden="false"></i>
          Send Email
        </button>
      </div>
    </form>

  </div>
  <div class='info'>
    <h2>Where To Find Us</h2>
    <hr>
    <h4 class='address'>Address</h4>
    <p class='add1'>2065 Columbia Ave</p>
    <p class='add2'>Indianapolis, IN 46202</p>
    <h4 class='phone'>Phone</h4>
    <p>(317) 714-1333</p>
    <h4 class='fax'>Fax</h4>
    <p>(317) 283-2002</p>
    <h4 class='email'>Email</h4>
    <p>selcorp@att.net</p>
    <h4 class='hours'>Office Hours</h4>
    <p>M-F: 7a - 6p</p>
  </div>
</div>
