<div class='head'>
  <div class='logo'>
    <p class='sides'>Indianapolis, IN</p>
    <p class='middle'>Indy Bobcat Service</p>
    <p class='sides'>(317) 714-1333</p>
  </div>
  <div class='navbtns'>
    <a class='navbtn' routerLink='home'>Home</a>
    <div class='navbtn2'>
      Services
      <a class='dropdown'>
        <a routerLink='residential'>Residential Services</a>
        <hr>
        <a routerLink='commercial'>Commerical Services</a>
        <hr>
        <a routerLink='outdoor'>Outdoor Recreation</a>
        <hr>
        <a routerLink='snow'>Snow Removal</a>
      </a>
    </div>
    <a class='navbtn' routerLink='/contact'>Contact</a>
  </div>
</div>

<router-outlet></router-outlet>

<div class='footer'>
  <span><a>&copy; 2018 Indy Bobcat Service</a> <a class='spacer'>|</a> <a class='link' href='https://jweiskittel.github.io'>Web Development by Justin Weiskittel</a></span>
</div>