<div class='head'>
  <div class='logo'>
    <p class='sides'>Indianapolis, IN</p>
    <p class='middle'>Indy Bobcat Services</p>
    <p class='sides'>(317) 714-1333</p>
  </div>
  <div class='navbtns'>
    <a class='navbtn' routerLink='home'>Home</a>
    <div class='navbtn2'>
      Services
      <div class='dropdown'>
        <a routerLink='recreation'>Recreational Services</a>
        <hr>
        <a routerLink='commercial'>Commerical Services</a>
        <hr>
        <a routerLink='outdoor'>Outdoor Recreation</a>
        <hr>
        <a routerLink='snow'>Snow Removal</a>
      </div>
    </div>
    <a class='navbtn' routerLink='/contact'>Contact</a>
  </div>
</div>

<router-outlet></router-outlet>