<div class='spacer'></div>
<div class='main'>
  <div>
    <div class='carousel'>
      <ngb-carousel>
        <ng-template ngbSlide>
          <img src='../../assets/bobcat1.png' alt="Picture 1">
        </ng-template>
        <ng-template ngbSlide>
          <img src='../../assets/bobcat3.png' alt="Picture 2">
        </ng-template>
        <ng-template ngbSlide>
          <img src='../../assets/bobcat4.jpg' alt="Picture 3">
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <div class='info'>
    <div class='column'>
      <h2>Experience</h2>
      <p>We have over 20 years of experience offering our Bobcat services to Indianapolis and surrounding areas.</p>
    </div>
    <hr>
    <div class='column'>
      <h2>About</h2>
      <p></p>
    </div>
    <hr>
    <div class='column'>
      <h2>Services</h2>
      <p>Residental Services</p>
      <p>Commercial Services</p>
      <p>Outdoor Recreation</p>
      <p>Snow Removal</p>
    </div>
  </div>
</div>