<div class='spacer'></div>
<div class='main'>
  <div>
    <owl-carousel [options]='options' [items]='images' [carouselClasses]="['owl-theme', 'sliding']">
      <div class='item' *ngFor='let image of images'>
        <div>
          <img src={{image}}>
        </div>
      </div>
    </owl-carousel>
  </div>
  <div class='info'>
    <div class='column'>
      <h2>Experience</h2>
      <p>We have over 15 years of experience offering Bobcat services to Indianapolis and surrounding areas. We have access to any bobcat equipment necessary to get the job done. </p>
    </div>
    <hr>
    <div class='column'>
      <h2>About</h2>
      <p>Indy Bobcat Service is a small business incorporated in 2001 with a single skid-steer loader, and we have only
        grown larger over the years. We have a passion for landscaping and serving our customers. Call us
        today to get your project underway!</p>
    </div>
    <hr>
    <div class='column'>
      <h2>Services</h2>
      <p class='servs'><a href='residential'>Residential Services</a></p>
      <p class='servs'><a href='commercial'>Commercial Services</a></p>
      <p class='servs'><a href='outdoor'>Outdoor Recreation</a></p>
      <p class='servs'><a href='snow'>Snow Removal</a></p>
    </div>
  </div>
</div>