img {
    height: 55vh;
    width: 45vw
}

.carousel {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70vw;
    padding: 195px 1vw 5vh 1vw;
    background: rgba(0, 0, 0, 0.642);
    margin-left: auto;
    margin-right: auto;
}

.info {
    display: flex;
    justify-content: space-evenly;
    text-align: center
}

h2 {
    color: #e93100;
    text-shadow: 1.5px 1.5px gray;    margin-bottom: 3vh;
    font-size: 38px;
    font-family: 'Pontano Sans', sans-serif;
    font-weight: bold
}

hr {
    border-left: inset 1px white;
    height: 245px;
    margin: 0px 2px 0px 2px
}

p {
    color: white;
    font-size: 19px;
    text-align: left
}

.column {
    margin: 0 2vw;
    width: 20vw
}

.servs {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    transition: .6s
}

a:hover {
    color: #e93100
}

.owl-dot.active {
    background: #e93100
}




/* Ipad Pro COMPLETE */
@media screen and (max-width: 1024px) {
    .main {
        margin: 0;
        width: 100vw;
    }

    img {
        height: 40vh;
        width: 85vw;
    }

    hr {
        height: 340px
    }

    .info {
        margin-bottom: 1vh
    }
}



/* Ipad COMPLETE */
@media screen and (max-width: 769px) {
    hr {
        height: 415px
    }
}



/* Iphone 6/7/8 Plus COMPLETE */
@media screen and (max-width: 415px) {
    .main {
        padding: 140px 1vw 5vh 1vw
    }

    img {
        height: 30vh
    }

    .info {
        flex-direction: column
    }

    hr {
        border-bottom: white 1px inset;
        height: 0;
        width: 45%;
        margin: 5vh auto
    }

    .column {
        width: 85vw;
        margin: auto
    }
}



/* Pixel 2 & Pixel 2 XL & iPhone 6/7/8 & iPhone X COMPLETE */
@media screen and (max-width: 412px) {
  
}



/* Iphone 5/SE & Galaxy S5 */
@media screen and (max-width: 375px) {

}